/* .form{
    display: flex;
    flex-direction: column;

    margin: 10px auto;

    align-items: center;
    
} */

.err-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin: 10px auto;
}