<div class="container">
  <div class="row">
    <div class="col-12 justify-content-center d-flex">
      @if (student) {
      <div class="col-4 alert alert-dark m-2">
        <h5 >Id: <strong>{{student.id}}</strong> </h5>
        <h5 >Name: <strong>{{student.name}}</strong> </h5>
        <h5 >Age: <strong>{{student.age}}</strong></h5>
        <h5 >Email: <strong>{{student.email}}</strong></h5>
      </div>
    }@else {
      <div class="text-danger">
        <h1>Loading....</h1>
      </div>
    }
    </div>
  </div>
</div>
